extends layout

block content
  h1.text-center.mt-3= title
  p.text-center.mt-3 Fill Each of The 3 Spaces with a Triangle Measurement #{secondaryTitle}
  .container
      .row
        .col-sm-12
          p Hypotenuse (A): 
          input#text1(type='text')
        .col-sm-12
          p Adjascent (B): 
          input#text2(type='text')
        .col-sm-12
          p Opposite (C):
          input#text3(type='text')
        .col-sm-12
      button.btn.btn-primary.col-sm-2(href='javascript:void(0);', onclick='compareValues()') Submit
